<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Bias Detector</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">         

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


        <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
        <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
        <script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-data-adapter.min.js"></script>

        <script src="https://unpkg.com/chart.js@2.8.0/dist/Chart.bundle.js"></script>
        <script src="https://unpkg.com/chartjs-gauge@0.3.0/dist/chartjs-gauge.js"></script>
        <script src="https://unpkg.com/chartjs-plugin-datalabels@0.7.0/dist/chartjs-plugin-datalabels.js"></script>
        
        <script type="text/javascript">
            function convert(vars) {
                    return vars
                };

            var data = convert( {{ wc|tojson }} );
            var bias = convert( {{ bias|tojson }} );
        </script>
    
        <style>
            html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                background-color: #eaeaea;
            }
            .bar {
                width: 100%;
                background-color: #ddd;
            }
            canvas {
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
            }

        </style>
    </head>

    <body>

        <div class="container">

            <div class="row m-3 p-3 bg-white shadow-sm border">
                <h2>Argentina Bias Detector</h2>
            </div>

            <div class="row m-2">
                <div class="col mx-2">
                    <div class="row mt-2 p-2 bg-white shadow-sm border">
                        <form method="POST">
                            <h3>Article URL</h3>
                            <input name="text">
                            <input class="mt-1" type="submit" value="Detect">
                        </form>
                        <small class="mt-1" style="font-size: 10px;">* La Nación, El Cronista, Página 12, Derecha Diario, La Nueva</small>
                    </div>
                    <div class="row mt-2 p-2 bg-white shadow-sm border">
                        <h5>News Portal</h5>
                        {% if wc %}
                        <h4>{{ portal}}</h4>
                        <p>{{ cantidad }} words</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col mt-2 mx-2 p-2 bg-white shadow-sm border text-center">
                    {% if wc %}
                    <h5>Leaning</h5>
                    <h4>{{ label }}</h4>
                    <div id="canvas-holder" style="width:70%; margin: auto;">
                        <canvas id="chart"></canvas>
                    </div>
                    {% else %}
                    <h4>Please upload article</h4>
                    {% endif %}
                </div>
            </div>
            {% if mensaje %}
            <div class="row alert alert-warning m-3 p-3" role="alert">
            {{ mensaje }}    
            </div>
            {% else %}
                {% if wc %}
                <div class="row m-3 bg-white shadow-sm border">
                    <div class="col-lg-6 col-sm-12" style="height: 400px;" id="wc"></div>
                    <div class="col-lg-6 col-sm-12" style="margin: auto;">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
                {% endif %}
            {% endif %}


            <footer class="row m-3 p-3 bg-white shadow-sm border">
                <div class="col-lg-4 mt-1 text-center">Copyright © Bias Detector - 2021</div>
                <div class="col-lg-4 mt-1 text-center">
                    <a class="m-1" href=""><i class="bi bi-facebook"></i></a>
                    <a class="m-1" href=""><i class="bi bi-twitter"></i></a>
                </div>
                <div class="col-lg-4 mt-1 text-center">
                    <a href="https://github.com/guidomitolo">About</a>
                </div>
            </footer>
        
        </div>


    
        <script>
            anychart.onDocumentReady(function() {
                var chart = anychart.tagCloud(data);
                chart.angles([0])

                chart.colorRange(true);

                chart.colorRange().length('80%');
                chart.container("wc");
                chart.draw();
                }
            );
            
            var input = [40, 60, 100]
            var value = bias;
            var config = {
                type: 'gauge',
                data: {
                    labels: ['Left', 'Center', 'Right'],
                    datasets: [{
                        data: input,
                        value: value,
                        backgroundColor: ['red', 'grey', 'blue'],
                        borderWidth: 2
                    }]
                },
                options: {
                    responsive: true,
                    title: {
                        display: false,
                        text: 'Bias'
                    },
                    layout: {
                        padding: {
                            bottom: 20
                        }
                    },
                    needle: {
                        radiusPercentage: 2,
                        widthPercentage: 3.2,
                        lengthPercentage: 80,
                        color: 'rgba(0, 0, 0, 1)'
                    },
                    plugins: {
                        datalabels: {
                            display: true,
                            formatter:  function (value, context) {
                                return context.chart.data.labels[context.dataIndex];
                            },
                            color: 'rgba(0, 0, 0, 1.0)',
                            backgroundColor: null,
                            font: {
                                size: 15,
                                weight: 'normal'
                            }
                        }
                    }
                }
            };

            window.onload = function() {
                var ctx = document.getElementById('chart').getContext('2d');
                window.myGauge = new Chart(ctx, config);
            };

            var ctx = document.getElementById('myChart');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{ tags|tojson }},
                    datasets: [{
                        label: 'Identified Term Type',
                        data: {{ nums|tojson }},
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });


        </script>
    </body>
</html>